@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

#Avatar
{
    border-radius: 6px;
    width: 12%;
    height: 12%;
}

/*--------------Hero---------------*/

#hero {
    background:
    url("https://farm5.staticflickr.com/4660/24833161067_08ce2368c6_o.png")no-repeat center center fixed;
    display: table;
    height: 1080px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #hero h1 {
    color: #ffffff;
    margin-top: 25%;
    letter-spacing: 0px; /*if you want to change later*/
    padding-top: 5px;
    font-size: 75px;
    
  }
  .text-center h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-family: 'Kaushan Script', cursive;
  }
  
  #hero .sub-title {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  #hero button {
    background-color: rgba(0, 0, 20, .25);
    color: #ffffff;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  #hero button:hover{
    background-color: #ffffff;
    color: rgba(20, 0, 20, .90);
  }
  /*-----------About----------*/

#about{
  background:
  url("https://farm5.staticflickr.com/4618/39708712752_d4c7274eed_o.jpg")no-repeat center center fixed;
  display: table;
  height: 1080px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

#about .headshot {
  border-radius: 50%;
  max-width: 250px;
  margin: 0 auto;
  padding-top: 25px;
}

#about h2 {
  color: #424e71;
  font-size: 60px;
  font-family: 'Kaushan Script', sans-serif;
  text-align: center;
}

#about .me {
  color: #424e71;
  font-size: 20px;
  font-weight: 525;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
}

#about h4 {
  color: #424e71;
  font-size: 34px;
  font-weight: 900;
  font-family: 'Quicksand', sans-serif;
}
#about .text-center {
  color: #424071;
  font-size: 28px;
  font-family: 'Marck Script', sans-serif;
  text-align: center;
}
/*------------Contact---------*/
#contact {
  background:
    url("https://farm5.staticflickr.com/4618/25921332428_f5c3ab347b_o.jpg")no-repeat center center fixed;
    display: inline-block;
    height: 1080px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
  }

  .hmu, ul.social-network {
    text-align: center;
    width: 100%;
  }

  .hmu {
    background: rgba(0,0,0,0.5);
    color: white;
    width: 83%;
    padding: px;
  }

  .hmu h1 {
    position: relative;
    color: #fff;
    font-size: 60px;
    font-family: 'Kaushan Script', sans-serif;
    text-align: center;
  }

  ul.social-network {
    margin-left: 0 auto;
    padding: 0;
  }

  ul.social-network li {
    align-items: center;
    display: inline-block;
    margin: 0 5px;
  }

  .social-network a.icoFacebook:hover, .social-network a.icoGithub:hover, .social-network a.icoLinkedin:hover, .social-network a.icoEmail:hover {
    display: inline-block;
    background-color:#D3D3D3;
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms--transition: all 0.4s;
  }

  .social-network a.icoFacebook:hover i, .social-network a.icoGithub:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoEmail:hover i {
    display: inline-block;
    color: #fff;
  }
  
  a.socialIcon:hover, .socialHoverClass {
    display: inline-block;
    color: #000000;
  }

  .social-circle li a {
    display: inline-block;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .social-circle li {
    margin:0;
    line-height:50px;
    text-align: center;
  }

  .social-circle li {
    margin:0;
    line-height:50px;
    text-align: center;
  }

  .social-circle i {
    text-align: center;
    color: #fff;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms--transition: all 0.8s;
    transition: all 0.8s;
  }

  .hmu a {
    background-color: rgba(0, 0, 20, .25);
    height: 50px;
  }